*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    padding: 2em;
    overflow-x: hidden;
}
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.search-input{
    width: 50%;
    padding: 1em;
    border: none;
    border-bottom: 2px solid #262626;
    font-size: .8em;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.search-input:focus{
    background-color: #262626;
    color: white;
    border-radius: 16px;
}
.search-form button{
    background-color: #262626;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 1em;
    cursor: pointer;
    margin-left: 2em;
    font-size: .8em;
}
.image-list{
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    gap: 2em;
    margin: 0 auto;
}
.image.portrait{
    grid-row: span 2;
}
.image{
    position: relative;
}
.image::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.image:hover::after{
    opacity: .5;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a.unsplash-link{
    display: none;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    z-index: 2;
}
.image:hover a{
    display: block;
}

/* responsive */
@media screen and (max-width: 1200px){
    .image-list{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 700px){
    .image-list{
        grid-template-columns: 1fr
    }
}